<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active ">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="nc-icon nc-bank"></i>
                <p>Trang Chính</p>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">
                <i class="nc-icon nc-single-02"></i>
                <p>Quản Lý Người Dùng</p>
            </a>
        </li>
        <li>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">
                <i class="nc-icon nc-pin-3"></i>
                <p>Quản Lý Mặt Hàng</p>
            </a>
        </li>
    </ul>
</div>